---
---
{{ reference }}

<br>

{% if entry.pdf %}
    <a href="{{ entry.pdf }}"><i class="ai ai-open-access" alt="open access" title="open access" style="color:#404040"></i></a>
{% endif %}

{% if entry.gerad %}
    <a href="https://www.gerad.ca/en/papers/{{ entry.gerad }}" style="text-decoration:none"><i class="fa fa-info" alt="more info" title="more info" style="color:#404040"></i></a>
{% endif %}

{% if entry.preprint %}
    <a href="{{ entry.preprint }}"><i class="far fa-file-pdf" alt="preprint" title="preprint" style="color:#404040"></i></a>
{% endif %}

<button class="btn tooltipped tooltipped-e" style="background-color:transparent"
  aria-label="Copy to clipboard"
  data-clipboard-action="copy" data-clipboard-text="{{ entry.bibtex }}">
  <i class="fa fa-clipboard fa-1x" style="color:#404040"></i>
</button>
